<div class="minimal-select">
    <select class="minimal-default" id="selectmenu"
        ontouchend="minimalSelect(this,'minimal-default')"
        ontouchstart="minimalSelect(this,'minimal-default-down')"
        onchange="select(this)">
        <option value="">Main Menu</option>
        <option value="welcome">Welcome&nbsp;&nbsp;&nbsp;</option>
        <option value="lockpick">LockPick&nbsp;&nbsp;&nbsp;</option>
        <option value="maxcounter">MaxCounter&nbsp;&nbsp;&nbsp;</option>
        <option value="splittape">SplitTape&nbsp;&nbsp;&nbsp;</option>
        <option value="frogger">Frogger&nbsp;&nbsp;&nbsp;</option>
        <option value="missingnum">MissingNum&nbsp;&nbsp;&nbsp;</option>
        <option value="oddmanout">OddManOut&nbsp;&nbsp;&nbsp;</option>
        <option value="arrayshift">ArrayShift&nbsp;&nbsp;&nbsp;</option>
        <option value="binarygap">BinaryGap&nbsp;&nbsp;&nbsp;</option>
        <option value="jacks">Jacks&nbsp;&nbsp;&nbsp;</option>
        <option value="orange">Orange&nbsp;&nbsp;&nbsp;</option>
        <option value="fruitloops">FruitLoops&nbsp;&nbsp;&nbsp;</option>
        <option value="willynilly">WillyNilly&nbsp;&nbsp;&nbsp;</option>
        <option value="hellojson">HelloJSON&nbsp;&nbsp;&nbsp;</option>
        <option value="assemblyline">AssemblyLine&nbsp;&nbsp;&nbsp;</option>
        <option value="cssserializer">cssSerializer&nbsp;&nbsp;&nbsp;</option>
    </select>
</div>
